<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home Page</title>
    </head>
    <body>
        <form action="/login" method="post">
            <h1>This is Byteverse Home page</h1>
            <button type="submit">Sign in / sign up</button>
        </form>
    </body>
</html>
